<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Neomo hero template</title>
    <link
      href="https://cdn.jsdelivr.net/npm/neomo@2.0.2/dist/neomo.min.css"
      rel="stylesheet"
    />
    <link href="../css/hero.css" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext"
      rel="stylesheet"
      type="text/css"
    />
  </head>
  <body class="neomo">
    <section class="header">
      <div class="container">
        <!-- Header Start -->
        <ul class="nav">
          <div class="logo">
            <a href="#"
              ><img class="img" src="https://neomo-ui.com/blacklogo.png"
            /></a>
          </div>
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Examples</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Team</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Help</a>
          </li>
          <div class="dropdown">
            <button class="dropdown-button outset-neomo menu-icon">
              <i class="fas fa-bars"></i>
            </button>
            <div class="dropdown-content">
              <a href="#">Home</a>
              <a href="#">Examples</a>
              <a href="#">Features</a>
              <a href="#">Team</a>
              <a href="#">Help</a>
            </div>
          </div>
        </ul>
        <!-- Header End -->

        <!-- Hero Body Start-->
        <div class="hero-body">
          <div class="container hero-body--container">
            <h1 class="title">
              The new standard in &lt;insert industry here&gt;
            </h1>
            <h2 class="subtitle">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat.
            </h2>
          </div>
        </div>
        <!-- Hero Body End-->
      </div>
    </section>

    <section class="container main">
      <!-- Feature Start -->
      <div class="columns">
        <!-- First Card Start-->
        <div class="column p-2">
          <div class="card outset-neomo">
            <div class="card-content text-center">
              <i class="fa fa-paw"></i>
            </div>
            <div class="card-content">
              <h4>Tristique senectus et netus et.</h4>
              <p>
                Purus semper eget duis at tellus at urna condimentum mattis. Non
                blandit massa enim nec. Integer enim neque volutpat ac tincidunt
                vitae semper quis. Accumsan tortor posuere ac ut consequat
                semper viverra nam.
              </p>
              <p><a class="card-link" href="#">Learn more</a></p>
            </div>
          </div>
        </div>
        <!-- First Card End-->

        <!-- Second Card Start-->
        <div class="column p-2">
          <div class="card outset-neomo">
            <div class="card-content text-center">
              <i class="fa fa-empire"></i>
            </div>
            <div class="card-content">
              <h4>Tempor orci dapibus ultrices in.</h4>
              <p>
                Ut venenatis tellus in metus vulputate. Amet consectetur
                adipiscing elit pellentesque. Sed arcu non odio euismod lacinia
                at quis risus. Faucibus turpis in eu mi bibendum neque egestas
                cmonsu songue. Phasellus vestibulum lorem sed risus.
              </p>
              <p><a class="card-link" href="#">Learn more</a></p>
            </div>
          </div>
        </div>
        <!-- Second Card End-->

        <!-- Third Card Start-->
        <div class="column p-2">
          <div class="card outset-neomo">
            <div class="card-content text-center">
              <i class="fa fa-apple"></i>
            </div>
            <div class="card-content">
              <h4>Leo integer malesuada nunc vel risus.</h4>
              <p>
                Imperdiet dui accumsan sit amet nulla facilisi morbi. Fusce ut
                placerat orci nulla pellentesque dignissim enim. Libero id
                faucibus nisl tincidunt eget nullam. Commodo viverra maecenas
                accumsan lacus vel facilisis.
              </p>
              <p><a class="card-link" href="#">Learn more</a></p>
            </div>
          </div>
        </div>
        <!-- Third Card End-->
      </div>
      <!-- Feature End -->

      <!-- Intro Start -->
      <div class="hero-intro">
        <div class="container hero-intro--container">
          <h1 class="title">Perfect for developers or designers!</h1>
          <h2 class="subtitle">
            Vel fringilla est ullamcorper eget nulla facilisi. Nulla facilisi
            nullam vehicula ipsum a. Neque egestas congue quisque egestas diam
            in arcu cursus.
          </h2>
        </div>
      </div>
      <!-- Intro End -->

      <!-- Sandbox Start -->
      <div class="sandbox">
        <!-- First Card Line Start-->
        <div class="columns">
          <div class="column p-2">
            <div class="card outset-neomo">
              <div class="noticifation">
                <p class="title">Hello World</p>
                <p class="subtitle">What is up?</p>
              </div>
            </div>
          </div>

          <div class="column p-2">
            <div class="card outset-neomo">
              <div class="noticifation">
                <p class="title">Foo</p>
                <p class="subtitle">Bar</p>
              </div>
            </div>
          </div>

          <div class="column p-2">
            <div class="card outset-neomo">
              <div class="noticifation">
                <p class="title">Third column</p>
                <p class="subtitle">With some content</p>
                <div class="card-content">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Proin ornare magna eros, eu pellentesque tortor vestibulum
                    ut. Maecenas non massa sem. Etiam finibus odio quis feugiat
                    facilisis.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- First Card Line End-->

        <!-- Second Card Line Start-->
        <div class="columns">
          <div class="column size-8">
            <div class="columns vertical-columns">
              <div class="column">
                <div class="columns">
                  <div class="column size-6">
                    <div class="columns vertical-columns">
                      <div class="column p-2">
                        <div class="card outset-neomo">
                          <div class="noticifation">
                            <p class="title">Vertical box</p>
                            <p class="subtitle">Top box</p>
                          </div>
                        </div>
                      </div>
                      <div class="column p-2">
                        <div class="card outset-neomo">
                          <div class="noticifation">
                            <p class="title">Vertical box</p>
                            <p class="subtitle">Bottom box</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="column size-6 p-2">
                    <div class="card outset-neomo">
                      <div class="noticifation">
                        <p class="title">Middle box</p>
                        <p class="subtitle">With an image</p>
                        <img
                          class="img2"
                          src="https://images.unsplash.com/photo-1622115066437-9c48a28a9738?ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxNjF8fHxlbnwwfHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="column p-2">
                <div class="card outset-neomo">
                  <div class="noticifation">
                    <p class="title">Wide column</p>
                    <p class="subtitle">Aligned with the right column</p>
                    <div class="card-content">
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Proin ornare magna eros, eu pellentesque tortor
                        vestibulum ut. Maecenas non massa sem. Etiam finibus
                        odio quis feugiat facilisis.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="column size-4 p-2">
            <div class="card outset-neomo">
              <div class="noticifation">
                <p class="title">Tall column</p>
                <p class="subtitle">With even more content</p>
                <div class="card-content">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Etiam semper diam at erat pulvinar, at pulvinar felis
                    blandit. Vestibulum volutpat tellus diam, consequat gravida
                    libero rhoncus ut. Morbi maximus, leo sit amet vehicula
                    eleifend, nunc dui porta orci, quis semper odio felis ut
                    quam.
                  </p>
                  <p>
                    Suspendisse varius ligula in molestie lacinia. Maecenas
                    varius eget ligula a sagittis. Pellentesque interdum, nisl
                    nec interdum maximus, augue diam porttitor lorem, et
                    sollicitudin felis neque sit amet erat. Maecenas imperdiet
                    felis nisi, fringilla luctus felis hendrerit sit amet.
                    Aenean vitae gravida diam, finibus dignissim turpis. Sed
                    eget varius ligula, at volutpat tortor.
                  </p>
                  <p>
                    Integer sollicitudin, tortor a mattis commodo, velit urna
                    rhoncus erat, vitae congue lectus dolor consequat libero.
                    Donec leo ligula, maximus et pellentesque sed, gravida a
                    metus. Cras ullamcorper a nunc ac porta. Aliquam ut aliquet
                    lacus, quis faucibus libero. Quisque non semper leo.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Second Card Line End-->

        <!-- Third Card Line Start-->
        <div class="columns">
          <div class="column p-2">
            <div class="card outset-neomo">
              <div class="noticifation">
                <p class="title">Side column</p>
                <p class="subtitle">With some content</p>
                <div class="card-content">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Proin ornare magna eros, eu pellentesque tortor vestibulum
                    ut. Maecenas non massa sem. Etiam finibus odio quis feugiat
                    facilisis
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="column size-8 p-2">
            <div class="card outset-neomo">
              <div class="noticifation">
                <p class="title">Main column</p>
                <p class="subtitle">With some content</p>
                <div class="card-content">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Proin ornare magna eros, eu pellentesque tortor vestibulum
                    ut. Maecenas non massa sem. Etiam finibus odio quis feugiat
                    facilisis.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Third Card Line End-->

        <!-- Fourth Card Line Start-->
        <div class="columns">
          <div class="column size-8 p-2">
            <div class="card outset-neomo">
              <div class="noticifation">
                <p class="title">Murphy's law</p>
                <p class="subtitle">Anything that can go wrong will go wrong</p>
                <div class="card-content">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Proin ornare magna eros, eu pellentesque tortor vestibulum
                    ut. Maecenas non massa sem. Etiam finibus odio quis feugiat
                    facilisis.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="column p-2">
            <div class="card outset-neomo">
              <div class="noticifation">
                <p class="title">Main column</p>
                <p class="subtitle">With some content</p>
                <div class="card-content">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Proin ornare magna eros, eu pellentesque tortor vestibulum
                    ut. Maecenas non massa sem. Etiam finibus odio quis feugiat
                    facilisis.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Fourth Card Line End-->
      </div>
      <!-- Sandbox End -->
    </section>

    <!-- Footer Start -->
    <footer class="footer">
      <div class="container">
        <div class="columns">
          <div class="column">
            <h3 class="ml-2 mb-0 pl-2"><strong>Category</strong></h3>
            <ul>
              <li><a href="#">Lorem ipsum dolor sit amet</a></li>
              <li><a href="#">Vestibulum errato isse</a></li>
              <li><a href="#">Lorem ipsum dolor sit amet</a></li>
              <li><a href="#">Aisia caisia</a></li>
              <li><a href="#">Murphy's law</a></li>
              <li><a href="#">Flimsy Lavenrock</a></li>
              <li><a href="#">Maven Mousie Lavender</a></li>
            </ul>
          </div>
          <div class="column">
            <h3 class="ml-2 mb-0 pl-2"><strong>Category</strong></h3>
            <ul>
              <li><a href="#">Labore et dolore magna aliqua</a></li>
              <li><a href="#">Kanban airis sum eschelor</a></li>
              <li><a href="#">Modular modern free</a></li>
              <li><a href="#">The king of clubs</a></li>
              <li><a href="#">The Discovery Dissipation</a></li>
              <li><a href="#">Course Correction</a></li>
              <li><a href="#">Better Angels</a></li>
            </ul>
          </div>
          <div class="column">
            <h3 class="ml-2 mb-0 pl-2"><strong>Category</strong></h3>
            <ul>
              <li><a href="#">Objects in space</a></li>
              <li><a href="#">Playing cards with coyote</a></li>
              <li><a href="#">Goodbye Yellow Brick Road</a></li>
              <li><a href="#">The Garden of Forking Paths</a></li>
              <li><a href="#">Future Shock</a></li>
            </ul>
          </div>
        </div>

        <p class="text-center">
          <a href="https://github.com/neomorphism/neomo-template">
            <i class="fab fa-github"></i>
          </a>
        </p>
        <div class="text-center">
          <span>Copyright &copy; Your Website 2021</span>
        </div>
      </div>
    </footer>
    <!-- Footer End -->
    <script src="https://cdn.jsdelivr.net/npm/neomo@2.0.2/dist/neomo.min.js"></script>
    <script
      src="https://kit.fontawesome.com/c393dc96fa.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
