<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
  
    <title>Neomo UI Sample Page</title>
    <link 
      href="https://cdn.jsdelivr.net/npm/neomo@2.0.2/dist/neomo.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/neomo@2.0.0/dist/neomo.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/portfolio.css">
  </head>
  <body class="font">
    <header class="dark">
          <nav>
            <ul class="nav mt-0 mb-0 pt-1 pb-1" >   
             
                <li class="nav-item mt-auto mb-auto ml-auto mr-2">
                    <button class="button outset-dark p-1 font-size-6" onclick="location.href='#about'">
                    <i class="fas fa-book-open"></i>
                    <span class="font font-size-4">About</span> 
                    </button>
                </li>
                <li class="nav-item mt-auto mb-auto mr-2">
                    <button class="button outset-dark p-1 font-size-6" onclick="location.href='#services'">
                    <i class="fas fa-book-open"></i>
                    <span class="font font-size-4">Services</span> 
                    </button>
                </li>
                <li class="nav-item mt-auto mb-auto mr-2">
                    <button class="button outset-dark p-1 font-size-6" onclick="location.href='#resume'">
                    <i class="fas fa-book-open"></i>
                    <span class="font font-size-4">Resume</span> 
                    </button>
                </li>
                <li class="nav-item mt-auto mb-auto mr-2">
                    <button class="button outset-dark p-1 font-size-6" onclick="location.href='#portfolio'">
                    <i class="fas fa-book-open"></i>
                    <span class="font font-size-4">Portfolio</span> 
                    </button>
                </li>
                <li class="nav-item mt-auto mb-auto mr-2">
                    <button class="button outset-dark p-1 font-size-6" onclick="location.href='#contact'">
                    <i class="fas fa-book-open"></i>
                    <span class="font font-size-4">Contact</span> 
                    </button>
                </li>

      
            </ul>
          </nav>
     
    </header>
    <!-- Main -->
    <section class="dark">
        <div class="container">
            <div class="title">
              <div class="columns just-center mb-10 pb-10">
                <div class="column size-12 text-left">
                  <div class="font-size-0 mb-3 font-weight-2">John Doe </div>
                  <p class="font-size-3">Full Stack Web Developer</p>
                  <p class="font-size-5 text-left">
                      View intuitively simple and pretty Portpolio 
                      with the <strong>Neomo</strong>  Framework
                  </p>
                </div>
              </div>
            </div>
        </div>
    </section>
    
    <!-- About -->
    <section id="about">
        <div class="container-fluid">
            <div class="columns just-center">
                <div class="column size-12 mb-10 pb-10">
                  <p class="text-center mb-10 p-3 about-title" 
                  >About Me</p>
                </div>
        
                <div class="column size-3 text-center m-10 card p-1">
                   <div class="font-size-1 text-left pt-1 pl-1 pr-1 m-1 mb-10 pb-10">Profile</div>
                   <div class="pb-10 mb-1"></div>
                   <table class="profile table font-size-2 p-5">
                    <thead>
                      <tr>
                        <th>Address:</th>
                        <th class="font-weight-3">Neomo's Lab</th>
                      </tr>
                    </thead>
                    <thead>
                        <tr>
                          <th>Phone:</th>
                          <th class="font-weight-3">0123-456789</th>
                        </tr>
                      </thead>
                      <thead>
                        <tr>
                          <th>Email:</th>
                          <th class="font-weight-3">Neomo@AST.ac.kr</th>
                        </tr>
                      </thead>
                  </table>
              
                </div>
        
                <div class="column size-3 text-center m-10 card">
                  <div class="card-image">
                    <img
                      src="https://images.unsplash.com/photo-1621570274061-6b0c42c7bd13?ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80"
                      alt="Placeholder image"
                    />
                  </div>
                  <div class="card-content pt-1 pl-1 pr-1">
                    <p class="font-size-4 profile-link text-left m-0">
                      <img 
                        class="img-profile p-0" 
                        srcset="https://images.unsplash.com/profile-1585224130087-8fc37d1fba1eimage?dpr=1&amp;
                        auto=format&amp;fit=crop&amp;w=32&amp;h=32&amp;q=60&amp;crop=faces&amp;
                        bg=fff 1x, https://images.unsplash.com/profile-1585224130087-8fc37d1fba1eimage?dpr=2&amp;
                        auto=format&amp;fit=crop&amp;w=32&amp;h=32&amp;q=60&amp;crop=faces&amp;bg=fff 2x" 
                        src="https://images.unsplash.com/profile-1585224130087-8fc37d1fba1eimage?auto=format&amp;
                        fit=crop&amp;w=32&amp;h=32&amp;q=60&amp;crop=faces&amp;bg=fff" 
                        width="32" height="32" role="presentation" alt="Go to Gabrielle Henderson's profile"
                      >
                      John Doe
                    </p>
                  </div>
              
                </div>
  
                <div class="column size-3 text-center  m-10 card p-1">
     
                    <div class="pt-1 pl-1 pr-1">
                        <p class="font-size-1 text-left m-1">Skills</p>
                        <div class="p-3"></div>
                        <span class="m-10 font-size-4">JavaScript</span>
                        <div class="progress inset m-1">
                          <div class="progress-bar success width-7"></div>
                        </div>
                        <span class="m-10 font-size-4">Vue.js</span>
                        <div class="progress inset m-1">
                          <div class="progress-bar success width-8"></div>
                        </div>
                        <span class="m-10 font-size-4">Node.js</span>
                        <div class="progress inset m-1">
                          <div class="progress-bar success width-5"></div>
                        </div>
                        <span class="m-10 font-size-4">HTML5/CSS3</span>
                        <div class="progress inset m-1">
                          <div class="progress-bar success width-5"></div>
                        </div>
                        <span class="m-10 font-size-4">Databases</span>
                        <div class="progress inset m-1 mb-5">
                          <div class="progress-bar success width-9"></div>
                        </div>
                    </div>
      
              
                </div>
            </div>
        </div>
  
        
    </section>
    <!-- Services -->
    <section id="services">
        <div class="columns just-center">
            <div class="column size-12 mt-10">
                <p class="text-center p-3 services-title" 
                >Services</p>
            </div>
            <div class="column size-4 text-center m-10">
                <div class="card  p-3">

      
                  <div class="card-content pt-0 pb-0 pl-1 pr-1">
                    <p class="font-size-3 profile-link text-left m-0">
                        Front End Web Development
                    </p>
                    <p class="text-left font-size-5">
                        Develop Front End using latest standards with HTML5/CSS3 with added 
                        funtionality using JavaScript and Vue.js.
                    </p>
                  </div>
                </div>
            </div>
            <div class="column size-4 text-center m-10">
                <div class="card  p-3">

      
                  <div class="card-content pt-0 pb-0 pl-1 pr-1">
                    <p class="font-size-3 profile-link text-left m-0">
                        Back End Web Development
                    </p>
                    <p class="text-left font-size-5">
                        Develop Back End application/service using Node.js or ASP .NET and SQL 
                        server or Mongo DB databases.
                    </p>
                  </div>
                </div>
            </div>
            <div class="column size-4 text-center m-10">
                <div class="card  p-3">

      
                  <div class="card-content pt-0 pb-0 pl-1 pr-1">
                    <p class="font-size-3 profile-link text-left m-0">
                        Front End Web Development
                    </p>
                    <p class="text-left font-size-5">
                        Develop Front End using latest standards with HTML5/CSS3 with added 
                        funtionality using JavaScript and Vue.js.
                    </p>
                  </div>
                </div>
            </div>
            <div class="column size-4 text-center m-10">
                <div class="card  p-3">

      
                  <div class="card-content pt-0 pb-0 pl-1 pr-1">
                    <p class="font-size-3 profile-link text-left m-0">
                        Back End Web Development
                    </p>
                    <p class="text-left font-size-5">
                        Develop Back End application/service using Node.js or ASP .NET and SQL 
                        server or Mongo DB databases.
                    </p>
                  </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Resume -->
    <section id="resume">
        <div class="columns just-center">
            <div class="column size-12 mt-10">
                <p class="text-center p-3 resume-title" 
                >Resume</p>
            </div>

        </div>
                  <div class="columns just-center mt-10 interval-1"> 
            <div class="column size-2 text-center">
              <button class="button  font-size-4 font"
              onclick='location.href="#"'>
                <i class="fas fa-file-download"></i>
                Download My Resume
              </button>
            </div>
          </div>
    </section>
    <!-- Portfolio -->
    <section id="portfolio">
        <div class="columns just-center ">
            <div class="column size-12 mt-10">
                <p class="text-center p-3 portfolio-title" >Portfolio</p>
            </div>
            <div class="column size-3 text-center  m-10">
              <div class="card ">
                  <div class="card-header p-1">
                      <span class="font-size-4">Machine Learning</span>
                      <span class="badge  info ml-auto">NEOMO</span>
                      
                  </div>
                  <div class="card-image">
                    <img
                      src="https://images.unsplash.com/photo-1504639725590-34d0984388bd?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80  "
                      alt="Placeholder image"
                    />
                  </div>
                  <div class="card-content">
                    <button class="button font large m-1 font-size-4">Preview</button>
                    <button class="button font large m-1 font-size-4">Source Code</button>
                  </div>
              </div>
            </div>
            <div class="column size-3 text-center  m-10">
              <div class="card ">
                  <div class="card-header p-1">
                      <span class="font-size-4">Machine Learning</span>
                      <span class="badge  info ml-auto">NEOMO</span>
                      
                  </div>
                  <div class="card-image">
                    <img
                      src="https://images.unsplash.com/photo-1504639725590-34d0984388bd?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80  "
                      alt="Placeholder image"
                    />
                  </div>
                  <div class="card-content">
                    <button class="button font large m-1 font-size-4">Preview</button>
                    <button class="button font large m-1 font-size-4">Source Code</button>
                  </div>
              </div>
            </div>
            <div class="column size-3 text-center  m-10">
              <div class="card ">
                  <div class="card-header p-1">
                      <span class="font-size-4">Machine Learning</span>
                      <span class="badge  info ml-auto">NEOMO</span>
                      
                  </div>
                  <div class="card-image">
                    <img
                      src="https://images.unsplash.com/photo-1504639725590-34d0984388bd?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80  "
                      alt="Placeholder image"
                    />
                  </div>
                  <div class="card-content">
                    <button class="button font large m-1 font-size-4">Preview</button>
                    <button class="button font large m-1 font-size-4">Source Code</button>
                  </div>
              </div>
            </div>
            <div class="column size-3 text-center  m-10">
              <div class="card ">
                  <div class="card-header p-1">
                      <span class="font-size-4">Machine Learning</span>
                      <span class="badge  info ml-auto">NEOMO</span>
                      
                  </div>
                  <div class="card-image">
                    <img
                      src="https://images.unsplash.com/photo-1504639725590-34d0984388bd?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80  "
                      alt="Placeholder image"
                    />
                  </div>
                  <div class="card-content">
                    <button class="button font large m-1 font-size-4">Preview</button>
                    <button class="button font large m-1 font-size-4">Source Code</button>
                  </div>
              </div>
            </div>
            <div class="column size-3 text-center  m-10">
              <div class="card ">
                  <div class="card-header p-1">
                      <span class="font-size-4">Machine Learning</span>
                      <span class="badge  info ml-auto">NEOMO</span>
                      
                  </div>
                  <div class="card-image">
                    <img
                      src="https://images.unsplash.com/photo-1504639725590-34d0984388bd?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80  "
                      alt="Placeholder image"
                    />
                  </div>
                  <div class="card-content">
                    <button class="button font large m-1 font-size-4">Preview</button>
                    <button class="button font large m-1 font-size-4">Source Code</button>
                  </div>
              </div>
            </div>

      

        </div>
    </section>
    <!-- Contact -->
    <section id="contact">
        <div class="columns just-center">
            <div class="column size-12 mt-10">
                <p class="text-center p-3 contact-title" 
                >Contact</p>
            </div>
            
        <div class="column size-5 text-center m-10">
            <div class="card  p-0">
              <div class="card-content">
                <div class="input-group " >
                  <span class="input-group-left text-center"><i class="far fa-envelope"></i></span>
                  <input type="text" class="input-group-right font" placeholder="Your Email" />
                </div>
                <div class="mt-1 mr-3">
                  <textarea 
                  class="textarea font"  
                  cols="50" 
                  rows="10"
                  placeholder="Message"
                  ></textarea>
                </div>
                <button class="button  medium mt-5 font font-size-3">Submit</button>
              </div>
            </div>
          </div>

    
        </div>
    </section>


  </div>
  

    
  </body>
</html>
<script
src="https://kit.fontawesome.com/c393dc96fa.js"
crossorigin="anonymous"
></script>


