<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Neomo shop template</title>
    <link
      href="https://cdn.jsdelivr.net/npm/neomo@2.0.2/dist/neomo.min.css"
      rel="stylesheet"
    />
    <link href="../css/shop.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="">
    <!-- Header Start -->
    <section class="container">
      <ul class="nav">
        <div class="logo">
          <a href="#"
            ><img class="logo-img" src="https://neomo-ui.com/blacklogo.png"
          /></a>
        </div>
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item dropdown">
          <button class="dropdown-button nav-dropdown">
            shop
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="#">All Products</a>
            <hr />
            <a href="#">Popular Items</a>
            <a href="#">New Arrivals</a>
          </div>
        </li>
        <li class="nav-item nav-item--cart">
          <a class="nav-link button nav-link--cart" href="#">
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            Cart
            <span class="number">0</span>
          </a>
        </li>
        <button data-collapse-id="collapse" class="button collapse menu-icon">
          <i class="fas fa-bars"></i>
        </button>
      </ul>
      <div data-collapse-id="collapse" class="mt-2 expanded">
        <div class="navbar">
          <div>
            <a href="#">Home</a>
            <a href="#">About</a>
            <button class="toggle-button">
              Shop
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="toggle-content">
              <a href="#">All Products</a>
              <a href="#">Popular Items</a>
              <a href="#">New Arrivals</a>
            </div>
            <a href="#">Cart</a>
          </div>
        </div>
      </div>
    </section>
    <!-- Header End -->

    <!-- Header Nav Start -->
    <section class="pt-5 pb-5">
      <div class="container text-center header-nav">
        <h1 class="header-title">NEOMO Shop</h1>
        <p class="header-subtitle">Design with this shop homepage template</p>
      </div>
    </section>
    <!-- Header Nav End -->

    <!-- Item Start -->
    <section class="pt-10 pb-10">
      <div class="container text-center">
        <!-- First Line Start -->
        <div class="columns">
          <div class="column p-2">
            <div class="card">
              <div class="card-image">
                <img
                  src="https://images.unsplash.com/photo-1601924994987-69e26d50dc26?ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8c2hvcHBpbmd8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
                  alt="Placeholder image"
                />
              </div>
              <div class="card-content">
                <p class="item">Sale Item</p>
                <div class="star">
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                </div>
                <p class="price"><span class="sale">$80.00</span> $60.00</p>
                <p>
                  <button class="button add-cart">Add to cart</button>
                </p>
              </div>
            </div>
          </div>
          <div class="column p-2">
            <div class="card">
              <div class="card-image">
                <img
                  src="https://images.unsplash.com/photo-1601924994987-69e26d50dc26?ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8c2hvcHBpbmd8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
                  alt="Placeholder image"
                />
              </div>
              <div class="card-content">
                <p class="item">Sale Item</p>
                <div class="star">
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                </div>
                <p class="price"><span class="sale">$25.00</span> $18.00</p>
                <p>
                  <button class="button add-cart">Add to cart</button>
                </p>
              </div>
            </div>
          </div>
          <div class="column p-2">
            <div class="card">
              <div class="card-image">
                <img
                  src="https://images.unsplash.com/photo-1601924994987-69e26d50dc26?ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8c2hvcHBpbmd8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
                  alt="Placeholder image"
                />
              </div>
              <div class="card-content">
                <p class="item">Sale Item</p>
                <div class="star">
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                </div>
                <p class="price"><span class="sale">$50.00</span> $45.00</p>
                <p>
                  <button class="button add-cart">Add to cart</button>
                </p>
              </div>
            </div>
          </div>
          <div class="column p-2">
            <div class="card">
              <div class="card-image">
                <img
                  src="https://images.unsplash.com/photo-1601924994987-69e26d50dc26?ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8c2hvcHBpbmd8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
                  alt="Placeholder image"
                />
              </div>
              <div class="card-content">
                <p class="item">Sale Item</p>
                <div class="star">
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                </div>
                <p class="price"><span class="sale">$40.00</span> $30.00</p>
                <p>
                  <button class="button add-cart">Add to cart</button>
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- First Line End -->

        <!-- Second Line Start -->
        <div class="columns">
          <div class="column p-2">
            <div class="card">
              <div class="card-image">
                <img
                  src="https://images.unsplash.com/photo-1601924994987-69e26d50dc26?ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8c2hvcHBpbmd8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
                  alt="Placeholder image"
                />
              </div>
              <div class="card-content">
                <p class="item">Popular Item</p>
                <div class="star">
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                </div>
                <p class="price">$30.00</p>
                <p>
                  <button class="button add-cart">Add to cart</button>
                </p>
              </div>
            </div>
          </div>
          <div class="column p-2">
            <div class="card">
              <div class="card-image">
                <img
                  src="https://images.unsplash.com/photo-1601924994987-69e26d50dc26?ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8c2hvcHBpbmd8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
                  alt="Placeholder image"
                />
              </div>
              <div class="card-content">
                <p class="item">Popular Item</p>
                <div class="star">
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                </div>
                <p class="price">$75.00</p>
                <p>
                  <button class="button add-cart">Add to cart</button>
                </p>
              </div>
            </div>
          </div>
          <div class="column p-2">
            <div class="card">
              <div class="card-image">
                <img
                  src="https://images.unsplash.com/photo-1601924994987-69e26d50dc26?ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8c2hvcHBpbmd8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
                  alt="Placeholder image"
                />
              </div>
              <div class="card-content">
                <p class="item">Popular Item</p>
                <div class="star">
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                </div>
                <p class="price">$25.00</p>
                <p>
                  <button class="button add-cart">Add to cart</button>
                </p>
              </div>
            </div>
          </div>
          <div class="column p-2">
            <div class="card">
              <div class="card-image">
                <img
                  src="https://images.unsplash.com/photo-1601924994987-69e26d50dc26?ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8c2hvcHBpbmd8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
                  alt="Placeholder image"
                />
              </div>
              <div class="card-content">
                <p class="item">Popular Item</p>
                <div class="star">
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                </div>
                <p class="price">$40.00</p>
                <p>
                  <button class="button add-cart">Add to cart</button>
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- Second Line End -->
      </div>
    </section>
    <!-- Item End -->

    <!-- Footer Start -->
    <footer class="pt-10 pb-10">
      <div class="container text-center pt-2 pb-2">
        <span>Copyright &copy; Your Website 2021</span>
      </div>
    </footer>
    <!-- Footer End -->

    <script src="https://cdn.jsdelivr.net/npm/neomo@2.0.2/dist/neomo.min.js"></script>
    <script
      src="https://kit.fontawesome.com/c393dc96fa.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
