<!DOCTYPE html>
<html charset="utf-8">
  <head>
    <title>NEOMO-showcase</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/neomo@2.0.2/dist/neomo.min.css"
    />
    <link rel="stylesheet" href="../css/showcase.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
        </style>
  </head>
  <body class="neomo">
     <!-- show-header start -->
    <div class="show-header">
       <div class="header-sub--title">
           Hello, I am
       </div>
       <div class="header-title">
        NEOMO
    </div>
    </div>
    <!-- show-header end -->

    <!-- nav -->
    <ul class="nav">
        <li class="nav-link--animation" href="#">Home</li>
  
        <li class="nav-link--animation" href="#">About me</li>
  
        
        <li class="nav-link--animation" href="#">Skill</li>

        <li class="nav-link--animation" href="#">My work</li>
  
      </ul>
    <!-- nav end-->
    <!-- show-content start -->

    <div class="show-content container">
        <br>
        <br>
        <!-- about-section -->
        <div class="about-me section">
            <div class="columns">
                <div class="column size-12 text-center">
                    <div class="title"><h2> About me</h2></div>
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    <div class="inset-neomo columns p-5 hide about-content">
                        <div class="column p-2">
                            <div>
                                Hello my name is neomo
                                <br>
                                I am frontend development.
                                <br>
                                <br>
                                Showcase was built from the ground up with Neomo 
                                to be fast and responsive out of the box with all source 
                                files well documented for easy to customization. 
                                The Showcase template gives you a personal space 
                                to share what you are all about as a creative designer, 
                                developer, photographer, and more!
                            </div>
                            <br>
                            <br>
                            <br>
                            <br>
                            <div class="about-links columns">
                                <div class="cloumn about-link">
                                    <div class="about-link--title font-weight-6">phone number</div>
                                    <p class="about-link--content">010-0000-0000</p>
                                    
                                </div>
                                <div class="cloumn about-link"> <div class="about-link--title">email</div>
                                <p class="about-link--content">neomo@example.com</p></div>
                                
                            </div>
                        </div>
                    
                        <div class="column about-image">
                            <img src="https://cdn.pixabay.com/photo/2011/09/27/18/52/bird-9950_1280.jpg" alt=""   >
                        </div>
                        
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                   
                   </div>                      
            </div>
        </div>

        <!-- skill-section -->
        <div class="skill section">
            <div class="columns">
                <div class="column size-12 text-center">
                    <div class="title"><h2>Skill</h2></div>
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    <div class="inset-neomo columns p-3 hide">
                        <div class="column">
                            <div class="columns">
                                <div class="column p-1">
                                    <span class="skill-title font-size-5">CSS</span>
                                    <div class="progress outset-neomo">
                                        <div class="progress-bar info width-9"></div>
                                      </div>
                                    <span class="skill-title font-size-5">React</span>
                                    <div class="progress outset-neomo">
                                      <div class="progress-bar info width-5"></div>
                                    </div>
                                    <span class="skill-title font-size-5">Veu</span>
                                    <div class="progress outset-neomo">
                                        <div class="progress-bar info width-7"></div>
                                      </div>
                                </div>
                                <div class="column p-1">
                                    <span class="skill-title font-size-5">javascript</span>
                            <div class="progress outset-neomo">
                                <div class="progress-bar info width-3"></div>
                              </div>
                            <span class="skill-title font-size-5">Node.js</span>
                            <div class="progress outset-neomo">
                                <div class="progress-bar info width-2" ></div>
                              </div>
                                </div>
                            </div>
                        </div>
                    
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>                      
            </div>
        </div>

    
        <!-- my-work-seciton -->
        <div class="my-work section">
            <div class="columns">
                <div class="column size-12 text-center">
                    <div class="title"><h2>My Work</h2></div>
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    <div class="inset-neomo  p-3 hide text-center">
                        <div class="my-work--content">

                                <button class="button icon-lg m-auto outset-neomo info"><i class="fas fa-briefcase"></i></button>
                                <button class="button icon-lg m-auto outset-neomo info"><i class="fas fa-book"></i></button>
                                <button class="button icon-lg m-auto outset-neomo info"><i class="fas fa-mug-hot"></i></button>
                                <button class="button icon-lg m-auto outset-neomo info"><i class="fas fa-fire"></i></button>
                                <button class="button icon-lg m-auto outset-neomo info"><i class="fas fa-hand-holding-water"></i></button>
              
                        
                        </div>
                       

                    </div>
                </div>                      
            </div>
        </div>
    </div>

    <!-- show-content end -->

    <!-- footer start -->
    <footer class="text-center">
        <div class=" pt-6">
            NEOMO by The source code is licensed MIT. The website content is licensed
        </div>
      
    </footer>
    <!-- footer end -->

    <!-- splash -->
    <div class="splash">

    </div>
     <script src="../js/showcase.js">
        
     </script>
  </body>
</html>



