<!DOCTYPE html>
<html charset="utf-8">
  <head>
    <title>NEOMO-signin</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/neomo@2.0.2/dist/neomo.min.css"
    />
    <link rel="stylesheet" href="../css/sign.css" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
    </style>
  </head>
  <body class="neomo">
    <div class="columns just-center ml-2 interval-1 mt-5">
      <div class="column size-3">
        <div class="card outset-neomo">
          <header class="card-header">
            <p class="card-header-title text-center text-color font-size-4">
              Sign In
            </p>
          </header>
          <div class="card-content">
            <div class="input-group outset-neomo width-full">
              <span class="input-group-left text-center text-color"
                ><i class="far fa-envelope"></i
              ></span>
              <input
                type="text"
                class="input-group-right outset-neomo width-full"
                placeholder="Your Email"
              />
            </div>
            <div class="input-group mt-2 outset-neomo width-full">
              <span class="input-group-left text-center text-color"
                ><i class="fas fa-key"></i
              ></span>
              <input
                type="text"
                class="input-group-right outset-neomo width-full"
                placeholder="Password"
              />
            </div>
            <div class="mt-2">
              <input
                id="check1"
                class="checkbox-input outset-neomo"
                type="checkbox"
                value=""
              />
              <label class="checkbox-label" for="check1">Remember me</label>

              <button
                class="
                  button
                  mt-2
                  mb-2
                  font-weight-2
                  outset-neomo
                  width-full
                  text-color
                  font-size-6
                  sign-button
                "
              >
                Sign in
              </button>
              <div class="text-center">or</div>
              <div class="mt-1 btn-icons">
                <button class="button icon icon-size outset-neomo text-color">
                  <i class="fab fa-facebook"></i>
                </button>
                <div class="sign-icon--between"></div>
                <button class="button icon icon-size outset-neomo text-color">
                  <i class="fab fa-google"></i>
                </button>
              </div>
            </div>
            <div class="mt-1 text-column">
              <a href="#" class="sign-link--black font-size-6 sign-account"
                >Create an account</a
              >
              <a href="#" class="sign-link--black font-size-6 sign-forgot"
                >Forgot password?</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
